{% extends 'header.html' %}

{% block content %}

<h1>Welcome Librarian</h1>
<br>

<a href="/gen_room"><button class="btn btn-primary"> Add a Room </button></a>


<a href="/assign_room"><button class="btn btn-danger"> Appoint a Room </button></a>

<form id="free_form">
    <input type="text" id="free_room" placeholder="please type the room no">
    <input type="hidden" id="status" value="empty">
    <button type="submit" id="btn_free" class="btn btn-safe">Free The Room Now</button>
</form>
<br>
<br>
<h1>Appointed Room</h1>
<table width="50%" border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Room No</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody id="tablebody">

    </tbody>


</table>




<script type="text/javascript">
    $("document").ready(function () {
        fetch_allocated_room()

        function fetch_allocated_room() {
            $.ajax({
                url: "http://127.0.0.1:3000/allocate_rooms",
                type: "GET",
                contentType: "application/json",
                headers: { 'x-access-tokens': localStorage.getItem('token') },
                success: function (res) {
                    console.log(res)
                    var tbody = "";
                    for (item of res.list_of_allocations) {


                        tbody = tbody + `<tr>`;
                        tbody = tbody + `<td>${item.allocated}</td>`;
                        tbody = tbody + `<td>${item.room_no}</td>`;
                        tbody = tbody + `<td>${item.date}</td>`;
                        tbody = tbody + `<td>${item.start_time}</td>`;
                        tbody = tbody + `<td>${item.end_time}</td>`;

                        tbody = tbody + `</tr>`;

                        console.log(item)
                    }
                    $("#tablebody").html(tbody)

                }

            })
        }

        $("#free_form").submit(function (e) {
            e.preventDefault();

            var rom_no = $("#free_room").val();
            $.ajax({
                url: `http://127.0.0.1:3000/free_rooms/${rom_no}`,
                type: "DELETE",
                contentType: "application/json",
                headers: { 'x-access-tokens': localStorage.getItem('token') },
                data: JSON.stringify({ "msg": "Room is Free now" }),
                success: function (data) {
                    fetch_allocated_room()
                    alert("Room is Free Now!")
                    console.log(data)

                    var free_room = $("#free_room").val();
                    var status = $("#status").val();
                    console.log(status)
                    $.ajax({
                        url: `http://127.0.0.1:3000/room/${free_room}`,
                        type: "PUT",
                        contentType: "application/json",
                        headers: { 'x-access-tokens': localStorage.getItem('token') },
                        data: JSON.stringify({ "status": status }),
                        success: function (data) {
                            alert("Room Is Allocated");
                            console.log(data)

                        }
                    })

                }
            })
            
        });
    });  
</script>

{% endblock %}