{% extends 'header.html' %}

{% block content %}

<!-- <a href="/send_msg"><button class="btn btn-primary" id="message_id12">Compose message</button></a> -->
<a href="/inbox"><button class="btn btn-info"> Inbox </button></a>
<a href="/sent_items"><button class="btn btn-warning"> Sent Items </button></a>

<div class="container">
    <form id="contact_us" method="POST" action="{{ url_for('send_msg') }}">
        <label for="fname">Send_to</label>

        <select id="send_to" name="name">

            <option value=""></option>

        </select>

        <label for="message">Your Message</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>










<script type="text/javascript">
    $("document").ready(function () {
        $("#contact_us").submit(function (e) {
            e.preventDefault();

            var send_to = $("#send_to").val();
            console.log(send_to);

            var message = $("#message").val();
            console.log(message);
            var sended_by = $("#sended_by").val();
            console.log(sended_by);


            $.ajax({
                url: "http://127.0.0.1:3000/contact",
                type: "POST",
                contentType: "application/json",
                headers: { 'x-access-tokens': localStorage.getItem('token') },
                data: JSON.stringify({ "send_to": send_to, "message": message, }),

                success: function (data) {
                    alert("Message has been sent successfully");
                    window.location.href = "/sent_items",

                        console.log(data)

                }
            })
        });
        $.ajax({
            url: "http://127.0.0.1:3000/users_admin",
            type: "GET",
            contentType: "application/json",
            headers: { 'x-access-tokens': localStorage.getItem('token') },
            success: function (res) {
                console.log(res)
                var options = "";
                for (item of res.users) {
                    console.log(item)
                    options = options + `<option value="${item.public_id}"> ${item.name}  </option>`
                }
                $("#send_to").html(options)
            }
        })

    });

</script>


{% endblock content %}