{% extends 'header.html' %} {% block content %}

<h1>Hey Welcome Student</h1>

<h1>Appointed Room</h1>
<table width="50%" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Room No</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <!-- <th><a onclick="timeNow(test1)" href="#">See The Remaining Time</a></th> -->
    </tr>
  </thead>
  <tbody id="tablebody"></tbody>
</table>

<script type="text/javascript">
  function timeNow(i) {
    i.value = new Date().toLocaleTimeString([], {
      hour: "2-digit",
      minute: "2-digit"
    });
  }
  $("document").ready(function() {
    $.ajax({
      url: "http://127.0.0.1:5000/allocate_rooms",
      type: "GET",
      contentType: "application/json",
      headers: { "x-access-tokens": localStorage.getItem("token") },
      success: function(res) {
        console.log(res);
        var tbody = "";
        for (item of res.list_of_allocations) {
          tbody = tbody + `<tr>`;
          tbody = tbody + `<td>${item.allocated}</td>`;
          tbody = tbody + `<td>${item.room_no}</td>`;
          tbody = tbody + `<td>${item.date}</td>`;
          tbody = tbody + `<td>${item.start_time}</td>`;
          tbody = tbody + `<td>${item.end_time}</td>`;

          tbody = tbody + `</tr>`;

          console.log(item);
        }
        $("#tablebody").html(tbody);
      }
    });
  });
</script>

{% endblock %}
