{% extends 'header.html' %}

{% block content %}
<h1 class="form-heading">Assign The Room</h1>
<div class="login-form">
  <div class="main-div">
    <div class="panel">
      <h2>Please Assign The room</h2>
      <p>Please enter the room detail</p>
    </div>
    <form id="login_allocate_room">

      <div class="form-group">
        <label for="email">Username : </label>
        <select id="allocated" name="allocated">

          <option value=""></option>

        </select>

      </div>
      <div class="form-group">

        <label for="room">Room Number : </label>

        <select id="room_no" name="room_no">

          <option value=""></option>

        </select>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" id="date" name="date">
      </div>
      <div class="form-group">
        <select id="start_time" name="start_time">
          <option value="t1">Select Start time</option>
          <option value=""></option>
        </select>
      </div>
      <div class="form-group">
        <select id="end_time" name="end_time">
          <option value="t1">Select End time</option>
          <option value=""></option>
        </select>
        
      </div>

      <button type="submit" class="btn btn-primary" id="send">Create Room</button>

      <!-- <a href="/availability">Room availability</a> -->

    </form>
  </div>
</div>
</div>
</div>
<script type="text/javascript">

if (localStorage.getItem('token')) {
  function populate(selector) {
    var select = $(selector);
    var hours, minutes, ampm;
    for(var i = 0; i <= 1450; i += 15){
        hours = Math.floor(i / 60);
        minutes = i % 60;
        if (minutes < 10){
            minutes = '0' + minutes; // adding leading zero
        }
        ampm = hours % 24 < 12 ? 'AM' : 'PM';
        hours = hours % 12;
        if (hours === 0){
            hours = 12;
        }
        select.append($('<option></option>')
            .attr('value', hours + ':' + minutes + ' ' + ampm)
            .text(hours + ':' + minutes + ' ' + ampm)); 
    }
}
populate('#end_time');
populate('#start_time');

  $("document").ready(function () {

    $.ajax({
      url: "http://127.0.0.1:5000/users",
      type: "GET",
      contentType: "application/json",
      headers: { 'x-access-tokens': localStorage.getItem('token') },
      success: function (res) {
        console.log(res)
        var options = "";
        for (item of res.users) {
          console.log(item)
          options = options + `<option value="${item.public_id}"> ${item.name}  </option>`
        }
        $("#allocated").html(options)
      }
    })

    $.ajax({
      url: "http://127.0.0.1:5000/rooms/empty",
      type: "GET",
      contentType: "application/json",
      headers: { 'x-access-tokens': localStorage.getItem('token') },
      success: function (res) {
        console.log(res)
        var options = "";
        for (item of res.list_of_rooms) {
          console.log(item)
          options = options + `<option value="${item.id}"> ${item.name}  </option>`
        }
        $("#room_no").html(options)
      }
    })
    $("#login_allocate_room").submit(function (e) {
      e.preventDefault();
      var allocated = $("#allocated").val();
      console.log(allocated);

      var room_no = $("#room_no").val();
      console.log(room_no);

      var date = $("#date").val();
      console.log(date)

      var start_time = $("#start_time").val();
      console.log(start_time)

      var end_time = $("#end_time").val();
      console.log(end_time)

      $.ajax({
        url: "http://127.0.0.1:5000/allocate_room",
        type: "POST",
        contentType: "application/json",
        headers: { 'x-access-tokens': localStorage.getItem('token') },
        data: JSON.stringify({ "allocated": allocated, "room_no": room_no, "date": date, "start_time": start_time, "end_time": end_time }),
        success: function (data) {
           alert("The Room is successfully allocated")
           console.log(status)
            window.location.href = "/librarian",
            console.log(data)

        },
        error: function() {
            alert('Please check This room no. or User has already alloted the room ');
        }
      })


    });
  });  
} else {
    console.log("wonder");
    window.location.href="/";

}
</script>


{% endblock %}